# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/src/main/resources/assets/animewitchery/textures/block/deepslate_threshold.aseprite
/src/main/resources/assets/animewitchery/textures/block/gacha_altar.aseprite
/src/main/resources/assets/animewitchery/textures/item/resonant_spark.aseprite
/src/main/resources/assets/animewitchery/textures/block/rosewillow_bud.aseprite
/src/main/resources/assets/animewitchery/textures/block/rosewillow_log_blooming.aseprite
/src/main/resources/assets/animewitchery/textures/item/stardust.aseprite
